<link rel="stylesheet" href="/DataTables/datatables.css" /> 
<script src="/DataTables/datatables.js"></script>
<% project = @projects.last %>
<h1>Projects and Simulations</h1>
<h4>Project Name: <%= project.project %></h4>
<h4>Version: <%= project.pvsyst_version %></h4>
<h4>Geographical Site: <%= project.geographical_site %></h4>
<h4>Meteo Data: <%= project.meteo_data %></h4>
<h4>Satelite Data: <%= project.satelite_data %></h4>
<h4>Simulation Date: <%= project.simulation_date %></h4>
<h4>Simulation Variant: <%= project.simulation_variant %></h4>
<h4>Simulation Hourly Values To: <%= project.simulation_hourly_values_to %></h4>
<h4>Simulation Hourly Values From: <%= project.simulation_hourly_values_from %></h4>

<table id="simulations" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Simulation Time</th>
      <th>GlobHor</th>
      <th>DiffHor</th>
      <th>BeamHor</th>
      <th>TAmb</th>
      <th>WindVel</th>
      <th>GlobInc</th>
      <th>ShdLoss</th>
      <th>IamLoss</th>
      <th>SlgLoss</th>
      <th>GlobEff</th>
      <th>EArrNom</th>
      <th>GIncLss</th>
      <th>TempLss</th>
      <th>ModQual</th>
      <th>MisLoss</th>
      <th>OhmLoss</th>
      <th>EArrMpp</th>
      <th>EArray</th>
      <th>TArray</th>
      <th>IlOper</th>
      <th>IlPmin</th>
      <th>IlPmax</th>
      <th>IlVmin</th>
      <th>EOutInv</th>
      <th>EGrid</th>
      <th>UArray</th>
    </tr>
  </thead>
  <tbody>
  <% project.pvsyst_simulations.each do |simulation| %>
    <tr>
      <th><%= simulation.simulation_time.strftime("%m/%d/%Y %T") %></th>
      <th><%= simulation.glob_hor %></th>
      <th><%= simulation.diff_hor %></th>
      <th><%= simulation.beam_hor %></th>
      <th><%= simulation.t_amb %></th>
      <th><%= simulation.wind_vel %></th>
      <th><%= simulation.glob_inc %></th>
      <th><%= simulation.shd_loss %></th>
      <th><%= simulation.iam_loss %></th>
      <th><%= simulation.slg_loss %></th>
      <th><%= simulation.glob_eff %></th>
      <th><%= simulation.e_arr_nom %></th>
      <th><%= simulation.g_inc_lss %></th>
      <th><%= simulation.temp_lss %></th>
      <th><%= simulation.mod_qual %></th>
      <th><%= simulation.mis_loss %></th>
      <th><%= simulation.ohm_loss %></th>
      <th><%= simulation.e_arr_mpp %></th>
      <th><%= simulation.e_array %></th>
      <th><%= simulation.t_array %></th>
      <th><%= simulation.il_oper %></th>
      <th><%= simulation.il_pmin %></th>
      <th><%= simulation.il_pmax %></th>
      <th><%= simulation.il_vmin %></th>
      <th><%= simulation.e_out_inv %></th>
      <th><%= simulation.e_grid %></th>
      <th><%= simulation.u_array %></th>
    </tr>
  <% end %>
  </tbody>
</table>




