<h6>PvSyst Data</h6>

<table>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><h3>---------------------------------------</h3></td>
			</tr>
			<tr>
				<td>Project Name: <%= project.project %></td>
			</tr>
			<tr>
				<td>Simulation Date: <%= project.simulation_date %></td>
			</tr>
			<% project.pvsysts.each do |pvsyst| %>
				<tr>
					<td><h3>---------------------------------------</h3></td>
				</tr>
				<tr>
					<td>Pvsyst Id: </td>
					<td><%= pvsyst.id %></td>
				</tr>
				<tr>
					<td>Situation Latitude: </td>
					<td><%= pvsyst.situation_latitude %></td>
				</tr>
				<tr>
					<td>Situation Longitude: </td>
					<td><%= pvsyst.situation_longitude %></td>
				</tr>
				<tr>
					<td>Time Defined as: </td>
					<td><%= pvsyst.time_defined_as %></td>
				</tr>
				<tr>
					<td>Altitude: </td>
					<td><%= pvsyst.altitude %></td>
				</tr>
				<tr>
					<td>Country: </td>
					<td><%= pvsyst.country %></td>
				</tr>
				<tr>
					<td>Axis Tilt: </td>
					<td><%= pvsyst.axis_tilt %></td>
				</tr>
				<tr>
					<td>Axis Azimuth: </td>
					<td><%= pvsyst.axis_azimuth %></td>
				</tr>
				<tr>
					<td>Minimum Phi: </td>
					<td><%= pvsyst.minimum_phi %></td>
				</tr>
				<tr>
					<td>Maximum Phi: </td>
					<td><%= pvsyst.maximum_phi %></td>
				</tr>
				<tr>
					<td>Tracking Algorithm: </td>
					<td><%= pvsyst.tracking_algorithm %></td>
				</tr>
				<tr>
					<td>Number of Trackers: </td>
					<td><%= pvsyst.number_of_trackers %></td>
				</tr>
				<tr>
					<td>Tracker Spacing: </td>
					<td><%= pvsyst.tracker_spacing %></td>
				</tr>
				<tr>
					<td>Collector Width: </td>
					<td><%= pvsyst.collector_width %></td>
				</tr>
				<tr>
					<td>Phi Limits: </td>
					<td><%= pvsyst.phi_limits %></td>
				</tr>
				<tr>
					<td>Ground Cover Ratio: </td>
					<td><%= pvsyst.ground_cover_ratio %></td>
				</tr>
				<tr>
					<td>Models Used: </td>
					<td><%= pvsyst.models_used %></td>
				</tr>
								<tr>
					<td>Horizon: </td>
					<td><%= pvsyst.horizon %></td>
				</tr>
				<tr>
					<td>Near Shadings: </td>
					<td><%= pvsyst.near_shadings %></td>
				</tr>
				<tr>
					<td>Users Needs: </td>
					<td><%= pvsyst.users_needs %></td>
				</tr>
				<tr>
					<td>Grid Power Limitation Active Power: </td>
					<td><%= pvsyst.grid_power_limitation_active_power %></td>
				</tr>
				<tr>
					<td>Grid Power Limitation Pnom Ratio: </td>
					<td><%= pvsyst.grid_power_limitation_pnom_ratio %></td>
				</tr>
				<tr>
					<td>Power Factor Cos: </td>
					<td><%= pvsyst.power_factor_cos %></td>
				</tr>
				<tr>
					<td>Power Factor Phi: </td>
					<td><%= pvsyst.power_factor_phi %></td>
				</tr>
				<tr>
					<td>PV Module: </td>
					<td><%= pvsyst.pv_module %></td>
				</tr>
				<tr>
					<td>Original Pysyst DB Manufacturer: </td>
					<td><%= pvsyst.original_pysyst_db_manufacturer %></td>
				</tr>				
				<tr>
					<td>PV Modules in Series: </td>
					<td><%= pvsyst.pv_modules_in_series %></td>
				</tr>
				<tr>
					<td>PV Modules in Parallel: </td>
					<td><%= pvsyst.pv_modules_in_parallel %></td>
				</tr>				
				<tr>
					<td>Total PV Modules: </td>
					<td><%= pvsyst.total_pv_modules %></td>
				</tr>
				<tr>
					<td>Module Unit Nom Power: </td>
					<td><%= pvsyst.module_unit_nom_power %></td>
				</tr>				
				<tr>
					<td>Global Power Nominal: </td>
					<td><%= pvsyst.global_power_nominal %></td>
				</tr>
				<tr>
					<td>Global Power Operating Cond: </td>
					<td><%= pvsyst.global_power_operating_cond %></td>
				</tr>				
				<tr>
					<td>U Mpp: </td>
					<td><%= pvsyst.u_mpp %></td>
				</tr>
				<tr>
					<td>I Mpp: </td>
					<td><%= pvsyst.i_mpp %></td>
				</tr>				
				<tr>
					<td>Module Area: </td>
					<td><%= pvsyst.module_area %></td>
				</tr>
				<tr>
					<td>Cell Area: </td>
					<td><%= pvsyst.cell_area %></td>
				</tr>				
				<tr>
					<td>Inverter Model: </td>
					<td><%= pvsyst.inverter_model %></td>
				</tr>
				<tr>
					<td>Custom Params Def Manufacturer: </td>
					<td><%= pvsyst.custom_params_def_manufacturer %></td>
				</tr>				
				<tr>
					<td>Operating Voltage: </td>
					<td><%= pvsyst.operating_voltage %></td>
				</tr>
				<tr>
					<td>Inverter Unit Nom Power: </td>
					<td><%= pvsyst.inverter_unit_nom_power %></td>
				</tr>				
			<% end %>
		<% end %>
	</tbody>
</table>

