<!DOCTYPE html>
<html>
  <head>
    <title>Soldat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.1/css/tabulator_bootstrap5.min.css" integrity="sha512-TXz7LLClXvOmlbp5sAQD5Pdtd9pvHEk+XPxgCpT8qddJeHIHe5nAXIj/1QhBrt6e3KJtWEnl6wEai/v+IV1J2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class='container py-5'>
      <%= yield %>
    </div>
  </body>
</html>
